:root {
	--bg: #121212;
	--bg2: #1b1b1b;
	--card: #242424;
	--card2: #2c2c2c;
	--disabled: #666;
	--text: #e0e0e0;
	--text2: #aaa;
	--accent: #4dd0e1;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg: #f5f5f5;
		--bg2: #ffffff;
		--card: #eaeaea;
		--card2: #e0e0e0;
		--disabled: #999;
		--text: #1b1b1b;
		--text2: #555;
		--accent: #00759c;
	}
}

body {
	background: var(--bg);
	color: var(--text);
	margin: 0;
	padding: 0;
	font-family: "Chivo", "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	padding: 0 1rem;
}

header {
	background: var(--bg2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border: 1px solid var(--card2);
	border-top: none;
	border-radius: 0 0 1rem 1rem;
	position: sticky;
	top: 0;
	max-width: 1000px;
	margin: 0 auto;
}

h1 {
	font-size: 1.5rem;
	color: var(--accent);
}

h2 {
	margin: 0;
	padding: 1rem 0;
}

nav button {
	background: none;
	border: none;
	color: var(--text);
	font-size: 1rem;
	cursor: pointer;
	transition: color 0.2s;
}

main {
	max-width: 1000px;
	margin: 2rem auto;
}

section {
	margin-bottom: 3rem;
}

.content {
	background: var(--bg2);
	border-radius: 10px;
	padding: 1rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card {
	background: var(--card);
	border-radius: 8px;
	padding: 1rem;
	transition: background 0.2s;
}
.card:hover {
	background: var(--card2);
}

.card.active {
	border-left: 6px solid var(--accent);
	padding-left: 1rem;
}

.card.old {
	color: var(--disabled);
	opacity: 0.7;
}

footer {
	text-align: center;
	padding: 1rem;
	color: #888;
	border-top: 1px solid #333;
}

h2 {
	width: fit-content;
}

#calendario h2 {
	cursor: pointer;
}

#proximos-eventos {
	max-height: 20rem;
	overflow-y: scroll;
	list-style-type: none;
	align-items: stretch;
	padding: 0;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0;
	margin-right: -0.5rem;
	padding-right: 0.5rem;
}

@media screen and (min-width: 768px) {
	::-webkit-scrollbar {
		width: 0.5rem;
	}
	::-webkit-scrollbar-track {
		background: linear-gradient(
			to right,
			transparent 42%,
			var(--text2) 42%,
			var(--text2) 58%,
			transparent 58%
		);
	}
	::-webkit-scrollbar-thumb {
		background: var(--accent);
		border-radius: 0.25rem;
	}
}

.card h3 {
	margin: 0 0 0.3rem 0;
	color: var(--accent);
	font-size: 1.2rem;
}

.subinfo {
	margin: 0 0 0.6rem 0;
	color: var(--text2);
}

.mini-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0.5rem 0;
	font-size: 0.8rem;
}

.mini-table th {
	text-align: left;
	font-weight: 600;
	color: var(--text);
	border-bottom: 1px solid #333;
	padding-bottom: 0.2rem;
}

.mini-table tr {
	padding-bottom: 0.25rem;
}

.mini-table td {
	padding: 0.3rem 0;
	color: var(--text);
}

.mini-table tr:last-child td {
	border-bottom: none;
	padding-bottom: 0;
}

.mini-table td:nth-child(1) {
	width: 20%;
}
.mini-table td:nth-child(2) {
	width: 30%;
}
.mini-table td:nth-child(3) {
	width: 30%;
}
.mini-table td:nth-child(4) {
	width: 20%;
}

.subcard {
	background: var(--card);
	border-radius: 6px;
	padding: 0.6rem;
	margin-bottom: 0.7rem;
}

.subcard:last-child {
	margin-bottom: 0;
}

.search-bar {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

#search-input {
	width: 100%;
	text-align: center;
	background: var(--bg2);
	color: var(--text);
	border: 1px solid var(--card2);
	border-radius: 8px;
	padding: 0.6rem 1rem;
	font-size: 1rem;
	transition: border 0.2s, box-shadow 0.2s;
}

#search-input:focus {
	outline: none;
	border-color: var(--accent);
	box-shadow: 0 0 5px var(--accent);
}

#no-results,
#no-search {
	text-align: center;
	color: var(--text2);
	font-size: 1.2rem;
}

.hidden {
	display: none !important;
}

#scroll-to-top {
	position: fixed;
	bottom: -5rem;
	right: 2rem;
	border: none;
	cursor: pointer;
	color: var(--text);
	width: 3rem;
	height: 3rem;
	opacity: 0;
	border-radius: 50%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease;
	background: var(--accent);
}

#scroll-to-top.visible {
	bottom: 2rem;
	opacity: 1;
}

@media (hover: hover) {
	nav button:hover {
		color: var(--accent);
	}
	#scroll-to-top:hover {
		svg {
			stroke-width: 6;
		}
	}
}

@media (max-width: 480px) {
	header {
		flex-direction: column;
		align-items: center;
		padding: 0.5rem;
		position: relative;
		margin-top: 0.5rem;
		border-radius: 0.5rem;
		border: 1px solid var(--card2);
	}
	h1 {
		font-size: 1.5rem;
		margin: 0.5rem 0;
	}
	#no-results,
	#no-search {
		font-size: 1rem;
	}
	#scroll-to-top {
		right: 1rem;
	}
}
