:root {
	--bg: #121212;
	--card: #1e1e1e;
	--text: #e0e0e0;
	--accent: #4dd0e1;
}

body {
	background: var(--bg);
	color: var(--text);
	margin: 0;
	padding: 0;
	font-family: "Chivo", "Inter", sans-serif;
	font-optical-sizing: auto;
	/* font-weight: <weight>; */
	font-style: normal;
}

header {
	background: #181818;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 1px solid #333;
	position: sticky;
	top: 0;
}

h1 {
	font-size: 1.4rem;
	color: var(--accent);
}

nav button {
	background: none;
	border: none;
	color: var(--text);
	font-size: 1rem;
	margin-left: 1rem;
	cursor: pointer;
	transition: color 0.2s;
}
nav button:hover {
	color: var(--accent);
}

main {
	max-width: 1000px;
	margin: 2rem auto;
	padding: 0 1rem;
}

section {
	margin-bottom: 3rem;
}

.content {
	background: var(--card);
	border-radius: 10px;
	padding: 1rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.card {
	background: #242424;
	margin-bottom: 1rem;
	border-radius: 8px;
	padding: 1rem;
	transition: background 0.2s;
}
.card:hover {
	background: #2c2c2c;
}

footer {
	text-align: center;
	padding: 1rem;
	color: #888;
	border-top: 1px solid #333;
}
